﻿@font-face {
   font-family: 'SMB';
   src: local('Super Mario Bros.'),
        url('fonts/Super Mario Bros.ttf') format('truetype');
   font-style: normal;
}

#game {
	height: 480px; width: 680px; position: absolute; left: 50%; top: 50%;
	margin-left: -321px; margin-top: -241px; border: 1px solid #ccc; overflow: hidden; background-image : url(backgrounds/01.png); background-position: 50% 100%;
}
.world { 
	margin: 0; padding: 0; height: 100%; width: 100%; position: absolute;
	bottom: 0; left: 0; z-index: 0; 
}
.gaugeLifes {
	margin: 0; padding: 0; height: 50px; width: 70px; text-align: right; font-size: 2em;
	font-weight: bold; position: absolute; top: 17px; right: 52px; z-index: 1000;
	position: absolute; font-family: 'SMB';
}
.gaugeCoin {
	margin: 0; padding: 0; height: 50px; width: 70px; text-align: right; font-size: 2em;
	font-weight: bold; position: absolute; top: 17px; right: 52px; z-index: 1000;
	position: absolute; font-family: 'SMB';
}
.gaugeSprite {
	margin: 0; padding: 0; z-index: 1000; position: absolute;
}
#coinNumber {
	left: 0;
}
#liveNumber {
	right: 52px;
}

#live {
	height: 40px; width: 40px; background-image : url(mario-objects/mario-hero/mario-sprites.png);
	background-position : 0 -430px; top: 12px; right: 8px;
}
.mario {
	background-image : url(mario-objects/mario-hero/mario-movement.gif);
	background-size: 32px 45px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	 height: 45px; 
	 width: 32px;
}

.wombat1 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 350px;
	 height: 34px; 
	 width: 34px;
}
.wombat2 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 350px;
	 height: 34px; 
	 width: 34px;
}
.wombat3 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 250px;
	 height: 34px; 
	 width: 34px;
}
.wombat4 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 160px;
	 height: 34px; 
	 width: 34px;
}
.wombat5 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 160px;
	 height: 34px; 
	 width: 34px;
}
.wombat6 {
	background-image : url(mario-objects/mario-enemies/wombat-running-left.png);
	background-size: 34px 34px;
	transition: 60ms ease-in-out;
	 position: absolute; 
	top: 60px;
	 height: 34px; 
	 width: 34px;
}

.base-ground {
	background-image : url(mario-objects/worl-objects/earth-base.png);
	background-size: 515px 100px;
	transform: translate(75px, 400px);

	 position: absolute; 
	 height: 100px; 
	 width: 515px;

}
.ground-grass {
	background-image : url(mario-objects/worl-objects/grass-base.png);
	background-size: 515px 34px;
	transform: translate(60px, 380px);

	 position: absolute; 
	 height: 34px; 
	 width: 515px;

}
.ground-left-grass {
	background-image : url(mario-objects/worl-objects/grass-left.png);
	background-size: 34px 34px;
	transform: translate(60px, 380px);

	 position: absolute; 
	 height: 34px; 
	 width: 34px;

}
.ground-right-grass {
	background-image : url(mario-objects/worl-objects/grass-right.png);
	background-size: 34px 34px;
	transform: translate(570px, 380px);

	 position: absolute; 
	 height: 34px; 
	 width: 34px;

}

.wall-right-grass {
	background-image : url(mario-objects/worl-objects/wall-right.png);
	background-size: 35px 128px;
	transform: translate(568px, 400px);

	 position: absolute; 
	 height: 128px; 
	 width: 35px;

}

.wall-left-grass {
	background-image : url(mario-objects/worl-objects/wall-left.png);
	background-size: 33px 130px ;
	transform: translate(59px, 400px);

	 position: absolute; 
	 height: 130px; 
	 width: 33px;

}


.platform1 {
	background-image : url(mario-objects/worl-objects/platform-base.png);
	background-size: 98px 33px ;
	transform: translate(110px, 190px);

	 position: absolute; 
	 height: 33px; 
	 width: 98px;

}

.platform2 {
	background-image : url(mario-objects/worl-objects/platform-base2.png);
	background-size: 136px 34px;
	transform: translate(460px, 190px);

	 position: absolute; 
	 height: 34px; 
	 width: 136px;

}

.platform3 {
	background-image : url(mario-objects/worl-objects/platform-base3.png);
	background-size: 177px 34px;
	transform: translate(250px, 280px);

	 position: absolute; 
	 height: 34px; 
	 width: 177px;

}

.platform4 {
	background-image : url(mario-objects/worl-objects/platform-base3.png);
	background-size: 177px 34px;
	transform: translate(250px, 90px);

	 position: absolute; 
	 height: 34px; 
	 width: 177px;

}

#coin1 {
	height: 32px; width: 32px; background-image : url(mario-objects/worl-objects/mario-objects.png);
	background-position: 0 0; left: 140px; top:150px; position: absolute;
}
#coin2 {
	height: 32px; width: 32px; background-image : url(mario-objects/worl-objects/mario-objects.png);
	background-position: 0 0; left: 510px; top:150px; position: absolute;
}
#coin3 {
	height: 32px; width: 32px; background-image : url(mario-objects/worl-objects/mario-objects.png);
	background-position: 0 0; left: 320px; top:240px; position: absolute;
}
#coin4 {
	height: 32px; width: 32px; background-image : url(mario-objects/worl-objects/mario-objects.png);
	background-position: 0 0; left: 320px; top:50px; position: absolute;
}